<section id="bulk-discount-creation">
  <h1><%= "Create New Bulk Discount" %></h1>

  <%= form_with url: "/merchants/#{@merchant.id}/bulk_discounts", method: :post, data: {turbo: false} do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %><br>
    <%= form.label :percentage_discount %>
    <%= form.text_field :percentage_discount %><br>
    <%= form.label :quantity_threshold %>
    <%= form.text_field :quantity_threshold %>
    <%= form.submit "Submit" %>
  <% end %>
</section>