<h1><%= "Bulk Discount Show Page" %></h1>

<section id="show-page">
  <%= @discount.name %><br>
  <%= "Percentage Discount: #{@discount.percentage_discount}%" %><br>
  <%= "Quantity Threshold: #{@discount.quantity_threshold}" %><br>

  <%= link_to "Edit this Bulk Discount", "/bulk_discounts/#{@discount.id}/edit" %>
</section>